.popup__input {
  display: block;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 36px 30px;
  width: 358px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; 
}

.popup__input:focus {
  outline: none;
}

.popup__input:last-of-type {
  margin-bottom: 49px;
}

@media screen and (max-width: 506px) {
  .popup__input {
    width: 226px;
  }
}