.popup__container {
  position: relative;
  margin: 15.3% auto;
  background-color: white;
  width: 428px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 506px) {
  .popup__container {
    width: 282px;
    margin-top: 38%;
    padding-top: 27px;
  }
}