.elements__card-main-like {
  width: 22px;
  height: 19px;
  margin: auto 0;
  padding: 0;
  background-color: inherit;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
  background-image: url(../../../images/hurt.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.elements__card-main-like:hover {
  opacity: .5;
}

.elements__card-main-like.activated {
  width: 22px;
  height: 19px;
  background-image: url(../../../../images/blackhurt.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
