.profile__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width: 907px) {
  .profile__text {
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 506px) {
  .profile__text {
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
    margin-bottom: 34px;
  }
}