.profile__add {
  min-width: 150px;
  height: 50px;
  margin: auto 0;
  background-color: black;
  border: 2px solid #FFFFFF;
  cursor: pointer;
  transition: opacity 0.2s ease;
  background-image: url(../../../images/+.svg);
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center;
  padding: 0;
}

.profile__add:hover {
  opacity: .6;
}

@media screen and (max-width: 907px) {
  .profile__add {
    width: 100%;
    background-image: url(../../../images/+\ mini.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
  }
}