.popup__body {
  margin: auto;
  background-color: white;
  width: 425px;
  height: 328px;
  border-radius: 10px;
}

@media screen and (max-width: 506px) {
  .popup__body {
    width: 282px;
    height: 320px;
  }
}