.popup__close {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  border: none;
  position: absolute;
  top: 26%;
  right: 30%;
  transition: opacity 0.2s ease;
  background-image: url(../../../images/Close\ Icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.popup__close:hover {
  opacity: .6;
}

@media screen and (max-width: 506px) {
  .popup__close {
    right: 6%;
  }
}