.profile__info {
  max-width: 336px;
  margin: auto auto auto 30px;
  overflow: hidden;
}

@media screen and (max-width: 907px) {
  .profile__info {
    margin: 0 auto;
  }
}

@media screen and (max-width: 506px) {
  .profile__info {
    max-width: 282px;
  }
}