.element__main-like {
  min-width: 22px;
  height: 19px;
  margin: auto 0;
  padding: 0;
  background-color: inherit;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
  background-image: url(../../../images/hurt.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.element__main-like:hover {
  opacity: .5;
}