.popup__text {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0 64px 54px 33px;
  padding-top: 33px;
}

@media screen and (max-width: 506px) {
  .popup__text {
    font-size: 18px;
    line-height: 22px;
    margin: 0 22px 76px;
    padding: 0;
  }
}